@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#f4c6c6c8; 
    --cor1:#FA3434;
    --cor2:#7A3E3E;
    --cor3:#C72A2A;
    --cor4:#591313;
}

body {
    background-color: #7a3e3e28;
}

header {
    background-color: #591313;
    padding: 10px;
    margin: 0px;
}

header > div {
    text-align: center;
    display: block;
}

header > div > img {
    max-width: 300px;
}

nav {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor4);
}

nav > a:hover {
    background-color: var(--cor3);
}

h1#ptitle {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.245);
    padding: 10px;
}

/*Título do diferencial*/
h1 {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-top: 20px;
}

/*Títulos do diferencial*/
h2.pdiferencial {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border-bottom: 1px dotted var(--cor2);
}

/*Introdução e Diferencial*/
p.pcontent {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 2em;
    text-indent: 40px;
    padding: 10px;
}
/*Corpo principal*/
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

/*Imagem de Gutemberg*/
main figure {
    margin-top: 20px;
}

main figure > img#Guto {
    display: block;
    max-width: 400;
    margin: auto;
    border-width: 5px;
    border-style: double;
    border-color: var(--cor2);
}

main figure > figcaption {
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: .8em;
    font-weight: bold
}

main figure > figcaption::after {
    content: "🔗";
}

main figure > figcaption > a {
    text-decoration: none;
    color: black;
}

main figure > figcaption > a:hover {
    color: var(--cor3);
} /*Termina Imagem de Gutemberg*/

/*Áreas de atuação*/

section {
    background-color: var(--cor2);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

section > article#operationarea {
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
}

section article > h2 {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    color: white;
}
section article > ul {
    list-style: url(assets/lista.png);
    list-style-position: inside;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    color: white;
    line-height: 2em;
} /*Termina áreas de atuação*/

/*Contato e localização*/
section.action {
    background-color: var(--cor2);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

section > h2 {
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

div#centralização {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

div#centralização div.social > img {
    display: inline-block;
    margin: 10px;
} 

footer {
    background-color: var(--cor4);
    padding: 10px;
}


footer p {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.2em;
}

footer p#linkpe {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

footer p#linkpe:hover {
    color: var(--cor3);
}

footer p#linkpe::after {
    content: "🔗";
}