@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#f4c6c6c8; 
    --cor1:#FA3434;
    --cor2:#7A3E3E;
    --cor3:#C72A2A;
    --cor4:#591313;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: #591313;
    padding: 10px;
    margin: 0px;
}

header > div {
    display: block;
    max-width: 300px;
    margin: 0px auto 0px auto;
}

header > div > img {
    width: 100%;
}

nav {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor4);
}

#telapp {
    display: none;
}

nav > a:hover {
    background-color: var(--cor3);
}

@media (max-width: 450px) {nav >a#adequacaomenu {display: block; text-align: center; width: 60px; margin-top: 20px; margin-right: auto; margin-left: auto;}}

@media (max-width: 327px) {nav{margin-top: 10px;} nav >a#adequacaomenu {margin-top: 10px;} nav > #telamg {display: none;} #telapp{display: inline-block;}}

main {
    display: flex;
    justify-content: space-around;
}

article {
    max-width: 60%;
    margin-left: 30px;
    display: inline-block;
}

article h1 {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

article h2 {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

article p {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    line-height: 2.0em;
    margin-bottom: 20px;
    text-indent: 40px;
}

article p.ref {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    line-height: 1em;
    text-indent: 0px;
}

article blockquote {
    margin-bottom: 10px;
    margin-left: 40%;
}

aside {
    background-color: var(--cor2);
    width: 40%;
    max-height: 310px;
    padding: 10px;
    margin-top: 35px;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.464);
}

aside ul {
    list-style: inside;
}

aside a {
    text-decoration: none;
    color: white;
}

aside a:hover {
    background-color: var(--cor3);
}

@media (max-width: 840px) {article {max-width: 100%}; aside { margin-bottom: 20px;}}

@media (max-width: 600px) {main {flex-direction: column; margin: auto;} article, aside {padding-right: 10px; padding-left: 10px; margin: auto;} aside {width: 300px; margin-bottom: 20px;} article {max-width: 90%};}

@media (max-width: 300px) {aside {width: 230px; min-height: 160px; padding: 0px 10px 0px 10px; margin-bottom: 20px}; aside ul {width: 100px;}}


footer {
    background-color: var(--cor4);
    padding: 10px;
}

footer p {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.2em;
}

footer a#linkpe {
    text-decoration: none;
    color: white;
}

footer a#linkpe > p:hover {
    color: var(--cor3);
}

footer p#linkado::after {
    content: "🔗";
}